@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --color-background: #27272c;
  --color-on-background: #c5c5ce;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit, "sans-serif";
}
body {
  min-height: 100vh;
  max-width: 1280px;
  background-color: var(--color-background);
  color: var(--color-on-background);
}
a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 80%;
  margin: auto;
}
